<!doctype html5>
<html>

<head>
    <title>Welcome Darwin !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script type="text/javascript">
        var films = {{suggestions|tojson}};
    </script>

    <style>
        #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loading-5.gif");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: black;
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}
    </style>
</head>

<body style="background-color: rgb(32, 16, 16);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="background-color: black;">
            <h1 class="navbar-brand" href="#" style="font-size: 40px; padding: 10px; color: wheat;">Darwinism</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><button class="dropdown-item" onclick="category_movie_display('Adventure')">Adventure</button></li>
                            <li><button class="dropdown-item" onclick="category_movie_display('Fantasy')">Fantasy</button></li>
                            <li><button class="dropdown-item" onclick="category_movie_display('Action')">Action</button></li>
                            <li><button class="dropdown-item" onclick="category_movie_display('Thriller')">Thriller</button></li>
                            <li><button class="dropdown-item" onclick="category_movie_display('Sci-Fi')">Sci-Fi</button></li>
                            <li><button class="dropdown-item" onclick="category_movie_display('Comedy')">Comedy</button></li>
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-transparent" href="/newuserpage" style="font-size: 15px;"><i class="fa-regular fa-user"
                        style="color: white;">&emsp;Login / Signup</i></a>
            </div>
        </div>
    </nav>

    <div class="middle-div" style="padding: 108px; background-color: rgb(32, 16, 16); color: wheat; text-align: center;">
        <h1>Movie Recommendation Engine</h1>
        <br />
        <h6>Love a movie ? Tell us <br /> We will show you something you will love even more </h6>
        <br />
        <input type="text" name="movie" class="movie form-control" id="autoCompleteInput" autocomplete="off"
                placeholder="Enter the Movie Name"
                style="background-color: #ffffff;border-color:#ffffff; color: #181818; border-radius: 100px; text-align: center;"
                required="required" />
        <ul class="show suggest-dropdown" style="display: none; width: fit-content; margin: auto;">
            <li class="dropdown-item suggest-item" id="suggest0" style="border-radius: 10px; background-color: white; margin: 2px; padding: 5px;">SUGGESTION 1</li>
            <li class="dropdown-item suggest-item" id="suggest1" style="border-radius: 10px; background-color: white; margin: 2px; padding: 5px;">SUGGESTION 2</li>
            <li class="dropdown-item suggest-item" id="suggest2" style="border-radius: 10px; background-color: white; margin: 2px; padding: 5px;">SUGGESTION 3</li>
        </ul>
        <button class="btn movie-button" disabled="true" style="margin-top: 32px;"><i class="fa-brands fa-searchengin"
                    style="font-size: 20px; color: white; display: block;">&emsp; Recommend</i></button> 
    

        <div class="fail" style="display: none; padding-top: 16px;">
            <br/>
            <h4>Sorry! The movie you requested is not in our database. Please check the spelling or try with other movies!</h4>
        </div>

    </div>

    <div id="loader" class="text-center">
    </div>    

    <div class="results">
        <center>
          <h2 id="name" class="text-uppercase"></h2>
        </center>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/dd80f9c8a0.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/autoComplete.js"></script>
    <script type="text/javascript" src="static/recommend.js"></script>
    <script type="text/javascript" src="static/test.js"></script>
</body>

</html>